<!DOCTYPE html>
<html>
    <style>
        .center {
            display: flex;
            justify-content: center;
            align-items: center;
        }
    </style>

<head>
    <title>분석결과</title>
</head>
<body>
    <div class="center">
        <table>
            <tr>
                <th>
                    보유한 카드의 족보
                </th>
                <th>
                    확률정보
                </th>
            </tr>
            <tr>
                <td>
                    <img src="data:image/jpeg;base64,{{ image_data }}" alt="Result Image">
                </td>
                <td>
                    <div id="chartContainer">
                        <canvas id="chart"></canvas>
                    </div>
                </td>
            </tr>
        </table>
        <div>
            <button class="btn"onclick="window.location.href='{{ url_for('start_analysis') }}'">
                분석시작
            </button>
        </div>
    </div>
</body>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script>
  // x1과 y1 변수를 Flask에서 전달받음
  var x1 = JSON.parse('{{ x1|tojson }}');
  var y1 = JSON.parse('{{ y1|tojson }}');

  console.log("로그" + x1);
  console.log("로그@@" + y1);

    // DOM이 로드된 후에 실행 이벤트 추가
    document.addEventListener('DOMContentLoaded', function() {
        // Chart.js를 사용하여 가로 막대 그래프 생성
        var ctx = document.getElementById('chart').getContext('2d');
        var chart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: x1,  // x 축 데이터
                datasets: [{
                    label: '족보 확률',
                    data: y1,  // y 축 데이터
                    backgroundColor: ['red', 'black', 'blue', 'green'],  // 막대 색상
                    borderWidth: 1
                }]
            },
            options: {
                indexAxis: 'y',  // Y축을 기준으로 막대 그래프를 표시
                scales: {
                    x: {
                        beginAtZero: true,
                        max: 100,  // X축 최대값 설정
                    },
                    y: {
                        beginAtZero: true,
                    }
                }
            }
        });
    });

</script>
</html>
